html {
  /* this is for snap scroll */
  scroll-snap-type: y mandatory;
}

.app {
  height: 100vh;
  background-color: black;

  /* easy way to center */
  display: grid;
  place-items: center;
}

.app_videos {
  position: relative;
  height: 800px;
  border-radius: 20px;
  width: 80%;
  max-width: 500px;
  overflow: scroll;

  /* this for snap scroll */
  scroll-snap-type: y mandatory;
}

/* this is for hiding scrollbar */
.app_videos::-webkit-scrollbar {
  display: none;
}
